page-place-register-map {
    .scroll-content{
        text-align: center;
    }
    #map{
        height: 90%;
        width: 100%;
        padding: 0;
        position:relative;       
       }
       #map:after {
        width: 30px;
        height: 30px;
        display: block;
        content: ' ';
        position: absolute;
        top: 50%; left: 50%;
        margin-left:-15px;
        margin-top: -30px;
        background-image: url("../assets/imgs/logo-mark-resenha.png");
        background-size: 30px 30px;  /* Since I used the HiDPI marker version this compensates for the 2x size */
        pointer-events: none; /* This disables clicks on the marker. Not fully supported by all major browsers, though */
        background-repeat: no-repeat;
    }

    ion-icon{
        color: red;
    }

   
 

    button ion-icon{
        color: orange;
    }
    .card-map{
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100%;
        bottom: -10px;
        border-radius: 10px;
        background-color: #ecf0f1;
    }
    .card-map ion-list {
        
        background-color: #ecf0f1;
        margin-bottom: 10px;
    }
    .card-map ion-list ion-item{
        background-color: #ecf0f1;
        margin-bottom: 10px;
    }
    .card-map button{
        width: 47%;
        margin-bottom: 10px;
    }
    .btn_define_place{
        float: left;
    }
    .btn_mark_place{
        float: right;
    }
   

}
